# Model

In [12]:
import pandas as pd
import io
import numpy as np
import csv
import nltk
import re

In [13]:
from sklearn.model_selection import train_test_split

train_data = pd.read_csv('vectorized.csv')
train_data.head()

,Unnamed: 0,able,absolutely,account,ache,act,actually,add,addict,afternoon,...,you so,you so much,you think,you to,you too,you ve,you want,you were,you will,Sentiment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
del train_data['Unnamed: 0']
train_data.head()

,able,absolutely,account,ache,act,actually,add,addict,afternoon,age,...,you so,you so much,you think,you to,you too,you ve,you want,you were,you will,Sentiment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
y = train_data['Sentiment']
del train_data['Sentiment']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(train_data, y, test_size=0.20)

In [6]:
print(X_train)

        able  absolutely  account  ache  act  actually  add  addict  \
311902     0           0        0     0    0         0    0       0
477285     0           0        0     0    0         0    0       0
74015      0           0        0     0    0         0    0       0
110640     0           0        0     0    0         0    0       0
355508     0           0        0     0    0         0    0       0
...      ...         ...      ...   ...  ...       ...  ...     ...
649926     0           0        0     0    0         0    0       0
591846     0           0        0     0    0         0    0       0
883044     0           0        0     0    0         0    0       0
230386     0           0        0     0    0         0    0       0
307673     0           0        0     0    0         0    0       0

        afternoon  age  ...  you should  you so  you so much  you think  \
311902          0    0  ...           0       0            0          0
477285          0    0  ...           0       0            0          0
74015           0    0  ...           0       0            0          0
110640          0    0  ...           0       0            0          0
355508          0    0  ...           0       0            0          0
...           ...  ...  ...         ...     ...          ...        ...
649926          0    0  ...           0       0            0          0
591846          0    0  ...           0       0            0          0
883044          0    0  ...           0       0            0          0
230386          0    0  ...           0       0            0          0
307673          0    0  ...           0       0            0          0

        you to  you too  you ve  you want  you were  you will
311902       0        0       0         0         0         0
477285       0        0       0         0         0         0
74015        0        0       0         0         0         0
110640       0        0       0         0         0         0
355508       0        0       0         0         0         0
...        ...      ...     ...       ...       ...       ...
649926       0        0       0         0         0         0
591846       0        0       0         0         0         0
883044       0        0       0         0         0         0
230386       0        0       0         0         0         0
307673       0        0       0         0         0         0

[800000 rows x 2000 columns]

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [18]:
X_train = scaler.transform(X_train)
print(X_train)

[[-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 ...
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]]

In [19]:
X_test = scaler.transform(X_test)
print(X_test)

[[-0.05871238 26.12969059 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 ...
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]
 [-0.05871238 -0.03800858 -0.04713785 ... -0.03990767 -0.04927932
  -0.03912438]]

In [ ]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(max_iter=300)

classifier.fit(X_train, y_train)

In [ ]:
print(X_train[0])

In [ ]:
predictions = classifier.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, predictions)

# Making predictions

In [ ]:
judging = pd.read_csv('contestant_judgment.csv')

In [ ]:
# stop_words contains typical sentence stopping words from the english language
stop_words = set(stopwords.words('english'))

# contains all the filtered (good) words
filtered_sent = []

for index, row in judging.iterrows():
    tokenized_words = []
    # Remove @s
    judging.at[index, 'Text'] = re.sub(r"@[A-z]+", " ", judging.at[index, 'Text'])
    
    # Remove punctuation
    judging.at[index, 'Text'] = re.sub(r"\W", " ", judging.at[index, 'Text'])

    # Remove numbers
    judging.at[index, 'Text'] = re.sub(r"\d+", "", judging.at[index, 'Text'])

    # Remove spaces
    judging.at[index, 'Text'] = re.sub(r"\s+", " ", judging.at[index, 'Text'])
   
    # Make everything lowercase
    judging.at[index, 'Text'] = str(judging.at[index, 'Text']).lower()
    
    # Tokenize
    tokenized_words = nltk.word_tokenize(judging.at[index, 'Text'])
    
    # Appending all the filtered words to filtered_sent
    filtered_sent.append([])
    for w in tokenized_words:
        if w not in stop_words:
            filtered_sent[index].append(w)

In [ ]:
# Getting lemmatizer from nltk library
lemmatizer = WordNetLemmatizer()

# looping through filtered_sent and lemmatizing each of the words
# lemmatizing means to sort words with similar stem or form
i = 0
for words in filtered_sent:
    newWords = []

    # Lemmatizing the words in each list of filtered words
    for word in words:
        newWords.append(lemmatizer.lemmatize(word, pos = 'v'))
     
    # putting the lemmatized words back in the filtered_send list
    filtered_sent[i] = " ".join(newWords)
    i += 1

In [ ]:
judging['BagofWords'] = filtered_sent
# creating original features, next step is vectorization
bagofwords = judging.BagofWords.tolist()

# creating a CountVectorizer for 400 single-word phrases
cv = CountVectorizer(max_features=400)

# creating a CountVectorizer for 400 two or three-word phrases phrases
cv2 = CountVectorizer(max_features=400, ngram_range=(2, 3))

# concatenating the arrays that have formed small vectors to get a large feature vector
x = np.concatenate((cv.fit_transform(judging['BagofWords']).toarray(), cv2.fit_transform(judging['Text']).toarray()), axis=1)

In [ ]:
test_predictions = classifier.predict(x)

In [ ]:
judging['Sentiment'] = test_predictions
judging.to_csv('judging.csv')

# Neural Net

In [12]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy

In [13]:
from sklearn.model_selection import train_test_split
#X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2)
from tensorflow.keras.callbacks import EarlyStopping

model = Sequential()

model.add(Dense(units=256, input_shape=X_train[0].shape, activation='relu'))
model.add(Dense(units=128, activation=None))
model.add(Dense(units=64, activation=None))
model.add(Dense(units=48, activation=None))
model.add(Dense(units=32, activation=None))
model.add(Dense(units=16, activation=None))
model.add(Dense(units=12, activation=None))
model.add(Dense(units=8, activation=None))
model.add(Dense(units=1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
early_stop = EarlyStopping(monitor='val_loss')

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 256)               384256
_________________________________________________________________
dense_1 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_2 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_3 (Dense)              (None, 48)                3120
_________________________________________________________________
dense_4 (Dense)              (None, 32)                1568
_________________________________________________________________
dense_5 (Dense)              (None, 16)                528
_________________________________________________________________
dense_6 (Dense)              (None, 12)                204
_________________________________________________________________
dense_7 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 9
=================================================================
Total params: 430,941
Trainable params: 430,941
Non-trainable params: 0
_________________________________________________________________

In [16]:
y_train[0]

1

In [17]:
X_train[0]

array([-0.05847612, -0.03774496, -0.04617577, ..., -0.04015807,
       -0.04983262, -0.0383099 ])

In [14]:
history = model.fit(X_train, y_train, epochs=30, verbose=1)

Epoch 1/30
25000/25000 [==============================] - 74s 3ms/step - loss: 0.5013 - accuracy: 0.7538
Epoch 2/30
25000/25000 [==============================] - 77s 3ms/step - loss: 0.4819 - accuracy: 0.7668
Epoch 3/30
25000/25000 [==============================] - 60s 2ms/step - loss: 0.4711 - accuracy: 0.7740
Epoch 4/30
25000/25000 [==============================] - 94s 4ms/step - loss: 0.4586 - accuracy: 0.7818
Epoch 5/30
25000/25000 [==============================] - 93s 4ms/step - loss: 0.4419 - accuracy: 0.7917
Epoch 6/30
25000/25000 [==============================] - 100s 4ms/step - loss: 0.4229 - accuracy: 0.8025
Epoch 7/30
25000/25000 [==============================] - 73s 3ms/step - loss: 0.4046 - accuracy: 0.8124
Epoch 8/30
25000/25000 [==============================] - 71s 3ms/step - loss: 0.3868 - accuracy: 0.8217
Epoch 9/30
25000/25000 [==============================] - 70s 3ms/step - loss: 0.3697 - accuracy: 0.8306
Epoch 10/30
25000/25000 [==============================] - 72s 3ms/step - loss: 0.3540 - accuracy: 0.8385
Epoch 11/30
25000/25000 [==============================] - 74s 3ms/step - loss: 0.3389 - accuracy: 0.8459A: 55s - loss: 0.3206 - accuracy: 0.8 - ETA: 54s - loss: 0.3207 - accu - ETA: 54s - loss: 0.3211 - accuracy: - ETA: 53s - l
Epoch 12/30
25000/25000 [==============================] - 75s 3ms/step - loss: 0.3251 - accuracy: 0.8528A: 52s - loss: 0.3090 - accuracy: 0.8 - ETA: 52s - loss: 0.3090  - ETA: 51s - loss: 0.3097 - ETA: 47s -  - ETA: 4 - ETA: 44s - loss: 0 - - ETA: 0s - loss: 0.3249 - accuracy - ETA: 0s - los
Epoch 13/30
25000/25000 [==============================] - 79s 3ms/step - loss: 0.3126 - accuracy: 0.8590A: 59s - loss: 0.2932 - accuracy: 0.8 - ETA:
Epoch 14/30
25000/25000 [==============================] - 75s 3ms/step - loss: 0.3018 - accuracy: 0.8640
Epoch 15/30
25000/25000 [==============================] - 75s 3ms/step - loss: 0.2914 - accuracy: 0.8691
Epoch 16/30
25000/25000 [==============================] - 75s 3ms/step - loss: 0.2817 - accuracy: 0.8743A: 57s - loss: 0.2616 - accur - ETA: 56s - loss: 0.2614 - ac - ETA: 55s - loss: 0. - - ETA: 51s -  - ETA: 37s - loss: 0 - - ETA: - ETA: 30s - loss: 0.2720 - accura - ETA: 29s - loss: 0.2723 - ac - ETA: 28s - l - ETA: 27s - - ETA: 25s - loss: 0.2734 - accu - ETA: 25s - loss: 0.2 - ETA: 21s - loss - ETA: 0s - loss: 0.2816 - accuracy: 0.
Epoch 17/30
25000/25000 [==============================] - 76s 3ms/step - loss: 0.2733 - accuracy: 0.8780A: 52s - los
Epoch 18/30
25000/25000 [==============================] - 76s 3ms/step - loss: 0.2652 - accuracy: 0.8815A: 24s - loss: 0.2580 - ac
Epoch 19/30
25000/25000 [==============================] - 65s 3ms/step - loss: 0.2582 - accuracy: 0.8850
Epoch 20/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2510 - accuracy: 0.8881
Epoch 21/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2449 - accuracy: 0.8911
Epoch 22/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2389 - accuracy: 0.8940A: 0s - loss: 0.2388 -
Epoch 23/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2330 - accuracy: 0.8965
Epoch 24/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2284 - accuracy: 0.8985  - ETA: 1s -
Epoch 25/30
25000/25000 [==============================] - 60s 2ms/step - loss: 0.2234 - accuracy: 0.9014 0s - loss: 0.2232 - accu
Epoch 26/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2188 - accuracy: 0.9029
Epoch 27/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2152 - accuracy: 0.9052
Epoch 28/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2108 - accuracy: 0.9070
Epoch 29/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2071 - accuracy: 0.9082 5s - los
Epoch 30/30
25000/25000 [==============================] - 59s 2ms/step - loss: 0.2038 - accuracy: 0.9099

In [19]:
preds = model.predict(X_test)

In [16]:
preds[0]

array([0.38386053], dtype=float32)

In [31]:
predicts = []
for pred in preds:
    if pred[0] < 0.5:
        predicts.append(0)
    else: 
        predicts.append(1)

In [29]:
print(predicts[0])

0

In [32]:
accuracy_score(y_test, predicts)

0.727645