In [1]:
import pandas as pd
import io
import numpy as np
import csv

In [2]:
train = pd.read_csv('training_data.csv')
judging = pd.read_csv('contestant_judgment.csv')

In [3]:
train.head()

,ID,User,Text,Sentiment
0,864192,Carly_FTS,I *heart* filling up @dennisschaub desk 1 it...,1
1,523691,Open_Sourcing,"#SocioMat - people create prettier, younger an...",1
2,584154,xxcharlx,no way i dont want the tour to end,0
3,1527961,andreapuddu,@HemalRadia Hi Amazing Brother! Sending Limitl...,1
4,28609,umbec,@flockmaster they are chocolate,1

# DATA PROCESSING

In [4]:
import nltk
import re
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem.wordnet import WordNetLemmatizer
nltk.download('wordnet')
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ayang3\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ayang3\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ayang3\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
stop_words = set(stopwords.words('english'))
filtered_sent = []

for index, row in train.iterrows():
    # Remove @s
    train.at[index, 'Text'] = re.sub(r"@[A-z]+", " ", train.at[index, 'Text'])
    
    # Remove punct
    train.at[index, 'Text'] = re.sub(r"\W", " ", train.at[index, 'Text'])
   
    # Remove numbers
    train.at[index, 'Text'] = re.sub(r"\d+", "", train.at[index, 'Text'])
   
    # Remove spaces
    train.at[index, 'Text'] = re.sub(r"\s+", " ", train.at[index, 'Text'])
   
    # Make lowercase
    train.at[index, 'Text'] = str(train.at[index, 'Text']).lower()
   
    # Tokenize
    train.at[index, 'Text'] = nltk.word_tokenize(train.at[index, 'Text'])
   
    for w in train.at[index, 'Text']:
        if w not in stop_words:
            filtered_sent.append(w)
        
   
    train.at[index, 'Text'] = filtered_sent
    filtered_sent = []

train.head()

,ID,User,Text,Sentiment
0,864192,Carly_FTS,"[heart, filling, desk, means, sales, amp, desk]",1
1,523691,Open_Sourcing,"[sociomat, people, create, prettier, younger, ...",1
2,584154,xxcharlx,"[way, dont, want, tour, end]",0
3,1527961,andreapuddu,"[hi, amazing, brother, sending, limitless, lov...",1
4,28609,umbec,[chocolate],1

In [6]:
lemmatizer = WordNetLemmatizer()

for index, row in train.iterrows():
    newWords = []
    
    for word in train.at[index, 'Text']:
        newWords.append(lemmatizer.lemmatize(word, pos = 'v'))
     
    train.at[index, 'Text'] = " ".join(newWords)

In [8]:
text = train.Text.tolist()
sentiment = train.Sentiment.tolist()

In [9]:
cv = CountVectorizer(max_features = 3000, lowercase = False)

x = cv.fit_transform(train['Text']).toarray()
y = train['Sentiment'].values

header = cv.get_feature_names()
output = pd.DataFrame(x, columns = header)
output['Sentiment'] = train['Sentiment']

print(output.head())

   able  absolutely  abt  ac  accent  accept  access  accident  accidentally  \
0     0           0    0   0       0       0       0         0             0
1     0           0    0   0       0       0       0         0             0
2     0           0    0   0       0       0       0         0             0
3     0           0    0   0       0       0       0         0             0
4     0           0    0   0       0       0       0         0             0

   accomplish  ...  yrs  yu  yuck  yum  yummy  yup  zero  zone  zoo  Sentiment
0           0  ...    0   0     0    0      0    0     0     0    0          1
1           0  ...    0   0     0    0      0    0     0     0    0          1
2           0  ...    0   0     0    0      0    0     0     0    0          0
3           0  ...    0   0     0    0      0    0     0     0    0          1
4           0  ...    0   0     0    0      0    0     0     0    0          1

[5 rows x 3001 columns]